* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MEDIA QUERIES*/

.box {
    width: 40%;
    height: 25vh;
    background-color: #333;
    margin: 5%;
}

.div-1 {
    float: left;
}

.div-2 {
    float: right;
}

.clr{
    clear: both;
}

/* MEDIA QUERIES*/

@media only screen and (max-width: 500px) {
    .div-1 {
        float: none;
        background-color: aqua;
    }
    .div-2 {
        float: none;
        background-color: aqua;
    }
}

/*REM & EM*/

.remAndEm {
    font-size: 20px;
}

#em {
    font-size: 1.2em;
}

#rem {
    font-size: 1.2rem;
}

:root {
    font-size: 20px;
}

/* VW & VH*/

.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue; 
}

.vh-100 {
    height: 100vh;
}

.h-50 {
    height: 50%;
}

/* ADVANCED SELECTORS */

div > p {
    color: blue;
}

div + section {
    color: green;
}

*[type=email] {
    border-color: red;
}